[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pytest = "*"
djangorestframework-jwt = "*"
djangorestframework-simplejwt = "*"
pylint = "*"
black = "*"
pylint-django = "*"
isort = "*"
flake8 = "*"
bandit = "*"
safety = "*"
pyjwt = "==2.8.0"

[dev-packages]
pytest-django = "*"

[requires]
python_version = "3.11"
